<!DOCTYPE HTML>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disciplinas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<header>

</header>
<main class="my-5">
    <div class="container">
        <div class="content">
            <div class="row justify-content-between">
                <a href="/" class="btn btn-primary">Página Inicial</a>
                <a href="/disciplinas/novo" class="btn btn-primary">Adicionar disciplina</a>
            </div>

            <div class="row justify-content-around my-5">
                <div th:each="dis : ${disciplinas}" class="card border-primary w-100 mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <p class="my-auto">Nome: <span th:text="${dis.nome}"></span></p>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" th:id="'dropdownMenuButton-'+${dis.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mais informações
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="'/disciplinas/editar/'+${dis.id}">Editar</a>
                                <form th:if="${!dis.confirmada}" th:action="'/disciplinas/confirmar/'+${dis.id}" method="post">
                                    <button class="dropdown-item text-success" type="submit">Confirmar matéria</button>
                                </form>
                                <form th:action="'/disciplinas/excluir/'+${dis.id}" method="post">
                                    <button class="dropdown-item text-danger" type="submit">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <div class="p-2">Código: <span th:text="${dis.codigo}"></span></div>
                            <div class="p-2">Professor: <span th:text="${dis.professor}"></span></div>
                            <div class="p-2">Período: <span th:text="${dis.periodo}"></span></div>
                            <div class="p-2">Status:
                                <span th:if="${dis.confirmada}">Confirmada</span>
                                <span th:if="${!dis.confirmada}">Não confirmada</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="p-2">Sala: <span th:text="${dis.sala}"></span></div>
                            <div class="p-2">Horário: <span th:text="${dis.horario}"></span></div>
                            <div class="p-2">Carga Horária: <span th:text="${dis.cargaHoraria}"></span></div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="p-2">Pré Requisitos: <span th:text="${dis.preRequisitos}"></span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>